@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  background-image: linear-gradient(315deg, #e2c9be 0%, #fbf7e9 74%);
  background-size: cover;
  line-height: 1.42857143;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

#header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

#header h1 {
  color: dodgerblue;
  font-size: 36px;
  font-weight: 700;
}

#playerNamesForm,
#playerScores {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

input {
  width: 125px;
}

::placeholder {
  font-size: 12px;
}

#player1Form,
#player2Form {
  flex: 1 0 50%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

#player1Form > label,
#player2Form > label {
  margin-bottom: 5px;
  margin-top: 10px;
}

#player1Form > span {
  padding: 0px 20px;
  border: 1px transparent;
  border-radius: 5px;
  background-color: rgba(205, 205, 205, 0.333);
  color: blue;
  font-size: 40px;
}

#player2Form > span {
  padding: 0px 15px;
  border: 1px transparent;
  border-radius: 5px;
  background-color: rgba(205, 205, 205, 0.333);
  color: magenta;
  font-size: 40px;
}

#postNames {
  margin: 15px 0;
  width: 0 1 100%;
  padding: 15px;
  border: none;
  background-color: dodgerblue;
  color: white;
  opacity: 87%;
  text-transform: uppercase;
  border-radius: 3px;
  box-shadow: 0px 3px 10px dodgerblue;
}

#postNames:hover:active {
  background-color: rgb(26, 114, 202);
  box-shadow: 0px 3px 10px rgb(26, 114, 202);
}

#showPlayer1Name,
#showPlayer2Name {
  margin: 5px 0 0 0;
}

#showPlayer1Score,
#showPlayer2Score {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px 10px;
  border: 1px transparent;
  border-radius: 5px;
  background-color: rgba(205, 205, 205, 0.333);
}

#game-controls {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#site-main {
  display: none;
  flex-direction: column;
  align-items: center;
}

#resetRoundBtn,
#resetGameBtn {
  margin-top: 15px;
  width: 0 1 100%;
  padding: 15px;
  border: none;
  background-color: dodgerblue;
  color: white;
  opacity: 87%;
  text-transform: uppercase;
  border-radius: 3px;
  box-shadow: 0px 3px 10px dodgerblue;
}

#resetBtn:hover {
  background-color: rgb(26, 114, 202);
  opacity: 100%;
}

#game {
  height: 308px;
  width: 308px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid blue;
  align-items: center;
}

.box {
  margin: 0px;
  border: 1px solid #121212;
  width: 100px;
  height: 100px;
  font-size: 66px;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}
